/* == GENERAL ELEMENT STYLE == */
html {
    scroll-behavior: smooth; /* ensures a smooth scroll when page links are clicked */
}

body {
    margin: 0%; /* Displays content to the edges of the browser */
    opacity: 1;
    transition: 3s opacity; /* 3s fade in effect */
    letter-spacing: .2vw;
    font-family: Avant Garde, Helvetica;
    font-size: 1.25vw;
}

body.fade-out {
    opacity: .1; /* sets initial opacity for fade in effect */
    transition: none;
}

h1 {
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    margin-top: 3%;
    color: #2b2b2b;
}

p {
    font-family: Garamond, Perpetua, Rockwell Extra Bold;
    text-align: justify;
    letter-spacing: .1vw;
    font-size: 1.25vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

a {
    color: blue;
}

q {
    font-style: italic;
    font-size: 1.2em;
}

/* Creates a new center element */
center {
    font-family: Garamond, Perpetua, Rockwell Extra Bold;
    text-align: center;
    letter-spacing: .1vw;
    font-size: 1.25vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

/* == IMAGE STYLE == */
img {
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    height: 100%;
    margin: auto auto auto auto;
    display: block;
}

img:hover {
    filter: grayscale(5%);
    transform: scale(1.01);
}

@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}


/* 
    == NAVBAR STYLE == */
.Navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    position: fixed;
    -webkit-animation: moveNav 3s;
    animation: moveNav 3s;
}

.Navbar a {
    float: left;
    display: block;
    color: white;
    padding: .75vw 1vw;
    text-decoration: none;
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 3.5s;
    animation: moveNavText 3.5s;
    letter-spacing: .2vw;
}

.Navbar a:hover {
    background-color: #F4F4F4;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.Navbar a.active {
    background-color: darkgray;
}

/* Navbar changes to better fit smaller screens */
@media screen and (max-width: 576px) {
    .Navbar a {
        width: 25%;
        font-size: 12px;
    }
}

/* 
    == NAVBAR ANIMATION == 
*/

@keyframes moveNav {
    from {left: -100vw;}
    to {left:0vw;}
}

@keyframes moveNavText {
    from{top: -100vw;}
    to{top:0vw;}
}

/* 
    == VIDEO STYLE == 
*/
#Background_Video {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-width: 100%;
    animation: zoomInOutSingleFeatured 3s;
}

.Video_Text {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    width: 100%;
    height: 100vh;
    padding-top: 12vh;
    position: relative;
    -webkit-animation: moveNav 2s;
    animation: moveVideoText 2s;
}

/* Video removed on smaller screens */
@media screen and (max-width: 576px) {
    #Background_Video {
        display: none;
    }
}

/* Video Animation */
@keyframes moveVideoText {
    from {top: -100vw;}
    to {top: 0px;}
}

@keyframes zoomInOutSingleFeatured {
    0% {
        transform: scale(1.5,1.5);
    }
    100% {
        transform: scale(1,1);
    }
}

/* 
    == SLIDESHOW STYLE == 
*/
#Slideshow_Background {
    background: rgba(255, 255, 255, 0.35);
}

.mySlides {
    display: none;
}

#Slideshow_Container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

/* Slideshow Images */
.Slide_Show_Images {
    background-color: rgba(0, 0, 0, .8);
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
    width: auto;
}

/* Next and Previous Buttons */
.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    margin-top: -0vw;
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

.Next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.Previous:hover, .Next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* Slideshow Text */
.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw;       
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
    border-radius: 7px 7px 7px 7px;
}

.text a {
    font-family: Perpetua, Rockwell Extra Bold;
    color: white;
}

/* Slide Number Text */
.Slide_Number {
    color: white;
    position: absolute;
    top: 0;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    font-weight: bold;
    display: none;
}

/* Slideshow Dots */
.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    z-index: 1;
}

.active, .dot:hover {
    background-color: black;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/*
    == TABLE STYLE == 
*/
* {
    box-sizing: border-box;
}

.Column_1 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 448px;
    background-color: #f2f2f2;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

.Column_1:hover {    
    background-color: #a7a7a794;  
}

/* allows text to overflow into a scrollable box on smaller screens */
@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 448px;
    background-color: #4d4d4d;
}

.Column_tall {
    padding-top: 3%;
    height: 450px;
}


.Row::after {
    content: "";
    display: table;
    clear: both;
}

.contact_form {
    width: 70%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


/*
     == FORM STYLE == 
*/

.Pop_Up_Button {
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: white;
    color: black;
    border: solid;
    cursor: pointer;
    position: fixed;
    -webkit-animation: movePopup 3s;
    animation: movePopup 3s;
}

.form-popup {
    border: 3px solid #f0f1f0;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 6px;
    right: 6px;
}

.form-container {
    max-width: 49vw;
    padding: 9px;
    background-color: white;
}

/* Form Inputs */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: gainsboro;
    font-family: Helvetica, Avant Garde;
    font-size: 1vw;
}

.form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh;
}

.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

button {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw 1.5vw;
    border-style: solid;
    cursor: pointer;
    width: 100%;
    height: auto;
}

button:hover, .form-container .btn:hover {
    color: white;
    background-color: black;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    border-style: solid;
    border-color: silver;
}

.form-container .cancel:hover {
    color: white;
    background-color: darkred;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    border-style: solid;
    border-color: black;
}

/* Form Animation */
@keyframes movePopup {
    from {right: -40vw;}
    to {bottom: 1.75vw;}
}

/* 
    == FOOTER STYLE == 
*/
footer {
    padding: 0.5%;
    background-color: black;
    color: white;
}